<br><br><br>

<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Coluna 1: Sobre -->
            <div class="col-md-4">
                <h5>Sobre Nós</h5>
                <p>Somos uma empresa dedicada a oferecer os melhores produtos e serviços para nossos clientes. Confiança e qualidade são nossos pilares.</p>
            </div>

            <!-- Coluna 2: Links úteis -->
            <div class="col-md-4">
                <h5>Links Úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="/sobre" class="text-light text-decoration-none">Sobre</a></li>
                    <li><a href="/contato" class="text-light text-decoration-none">Contato</a></li>
                    <li><a href="/produtos" class="text-light text-decoration-none">Produtos</a></li>
                    <li><a href="/faq" class="text-light text-decoration-none">FAQ</a></li>
                </ul>
            </div>

            <!-- Coluna 3: Redes Sociais -->
            <div class="col-md-4">
                <h5>Redes Sociais</h5>
                <a href="https://facebook.com"  target="_blank" class="text-light me-3 text-light text-decoration-none">
                    <i class="bi bi-facebook"></i> Facebook
                </a>
                <a href="https://instagram.com" target="_blank" class="text-light me-3 text-light text-decoration-none">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
                <a href="https://twitter.com" target="_blank" class="text-light text-light text-decoration-none">
                    <i class="bi bi-twitter"></i> Twitter
                </a>
            </div>
        </div>

        <!-- Linha de separação -->
        <hr class="my-4 text-light">

        <!-- Rodapé -->
        <div class="text-center">
            <p class="mb-0">© 2024 Sua Empresa. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
