 <!DOCTYPE html>
<html lang="pt">
<head>
  <%- include('partials/head') %>
  <%- include('partials/navbar') %>
  <title>Menu de Gerenciamento de Produtos</title>
</head>
<body>
  <div class="container col-6">
    <br><br>
    <h3>Menu de Gerenciamento de Produtos</h3>
    <br>
    <!-- Formulário para Adicionar Produtos -->
    <form action="/add-product" method="get">
      <button type="submit" class="btn btn-dark mb-3">Adicionar Produtos</button>
    </form>

    <!-- Formulário para Consultar Produtos -->
    <form action="/products" method="get">
      <button type="submit" class="btn btn-dark mb-3">Consultar Produtos Cadastrados</button>
    </form>
</div>
  <%- include('partials/footer') %>
</body>
</html>
